<!DOCTYPE HTML>
<html>
<head lang="en">
<script src="/static/js/jquery-1.10.2.min.js"></script>
    {% block head %}{% endblock head %}
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>

<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="/static/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="/static/js/Chart.js"></script>
<!-- //chart -->
<!--animate-->
<link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="all">
<!--//end-animate-->
 <!-- Meters graphs -->

<!-- Placed js at the end of the document so the pages load faster -->

<!--可视化以及文本编辑器的 -->

    <script type="text/javascript" src="/static/tiny_mce/tiny_mce_src.js"></script>
    <script type="text/javascript" src="/static/main/js/main.js"></script>
</head> 
   
 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
    <!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="">Little <span>Panda</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="/index/"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li class="active"><a href="/index/"><i class="lnr lnr-user"></i><span>用户个人博客</span></a></li>
						<li class="menu-list">
							<a href="#"><i class="lnr lnr-cog"></i>
								<span>设置</span></a>
								<ul class="sub-menu-list">
                                    {% if request.user.is_authenticated %}
									<li><a href="/changepassword/{{ request.user.username }}">更改密码</a> </li>
                                    <li><a href="/usersetting/{{ request.user.id }}">用户信息设置</a> </li>
									<li><a href="#">更多</a></li>
                                    {% else %}
									<li><a href="#">更多</a></li>
                                    {% endif %}
								</ul>
						</li>
						<li><a href="/index/"><i class="lnr lnr-list"></i> <span>论坛</span></a></li>
             
						<li class="menu-list"><a href="/secret_issue/"><i class="lnr lnr-star"></i> <span>安全事件</span></a>
							<ul class="sub-menu-list">
{#								<li><a href="/secret_issue/">360播报&0day银行</a> </li>#}
								<li><a href="/bug/">漏洞</a></li>
                                <li><a href="/event/">安全资讯</a></li>
							</ul>
						</li>      

						<li><a href="/ssrview/main/"><i class="lnr lnr-select"></i> <span>数据可视化</span></a></li>


						</li>
					</ul>
				<!--sidebar nav end-->
			</div>
		</div>
		<!-- left side end-->
    
		<!-- main content start-->
		<div class="main-content">
			<!-- header-starts -->
			<div class="header-section">
			 
			<!--toggle button start-->
			<a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

			<!--notification menu start -->
			<div class="menu-right">
				<div class="user-panel-top">  	
					<div class="profile_details_left">
						<ul class="nofitications-dropdown">
							
							<li class="login_box" id="loginContainer">
									<div class="search-box">
										<div id="sb-search" class="sb-search">
											<form method="get" action=''>
												<input class="sb-search-input" placeholder="Enter your search term..." name="search" type="search" id="search">
												<input class="sb-search-submit" type="submit" value="">
												<span class="sb-icon-search"> </span>
											</form>
										</div>
									</div>
										<!-- search-scripts -->
										<script src="/static/js/classie.js"></script>
										<script src="/static/js/uisearch.js"></script>
											<script>
												new UISearch( document.getElementById( 'sb-search' ) );
											</script>
										<!-- //search-scripts -->


							<div class="clearfix"></div>
						</ul>
					</div>
                    
					<div class="profile_details">		
						<ul>
                        {% if request.user.is_authenticated %}
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">
										<span style="background:url(/../{{ this_user.photo }}) no-repeat center"> </span>
										 <div class="user-name">
											<p>欢迎<span>{{ request.user.username }}</span></p>
										 </div>
										<div class="clearfix"></div>
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="/changepassword/{{ request.user.username }}/"><i class="fa fa-cog"></i> 更改密码</a> </li>

									<li> <a href="/logout/"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                    									<li> <a href="/event/"><i class="fa fa-user"></i>更多</a> </li>
								</ul>
							</li>
                            {% else %}
               <li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">	
										<span style="background:url(/static/images/1.jpg) no-repeat center"> </span>
										 <div class="user-name">
											<p>对不起<span>请登陆或注册</span></p>
										 </div>
										<div class="clearfix"></div>	
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="/regist/"><i class="fa fa-cog"></i> 注册</a> </li> 
									<li> <a href="/login/"><i class="fa fa-user"></i>登陆</a> </li> 
								</ul>
							</li>
            {% endif %}

						</ul>
					</div>

				</div>
			  </div>
			<!--notification menu end -->
{#            <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>#}
			</div>
		<!-- //header-ends -->
			<div id="page-wrapper">
       
 {% block public_list %}

{% endblock public_list %}
          
            
            
            
            
				
			</div>
			<!--body wrapper start-->
			</div>
			 <!--body wrapper end-->
        <!--footer section start-->
{#			<footer>#}
{#			   <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>#}
{#</p>#}
{#			</footer>#}
        <!--footer section end-->

      <!-- main content end-->
   </section>
  
<script src="/static/js/jquery.nicescroll.js"></script>
<script src="/static/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>