{% extends "base.html" %}
{% block head %}
    <script>

    $(document).ready(function(){
        if('{{ search }}'){
        var str0 = $("tbody").html();
        re = new RegExp("{{ search }}","g");
        var strr ='<strong style="color: red">{{ search }}</strong>';
        var str1 = str0.replace(re,strr);
        $("tbody").html(str1);}

    });
    </script>
{% endblock %}
{% block public_list %}
    <fieldset>
        <div class="input-group form-group" style="text-align:center;">
            <form method="get" action=''>
                <input type="text" name="search" class="form-control" align="center" />
                <span class="input-group-btn">
                    <button class="btn btn-primary">搜索</button>
                </span>
                <div>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="checked" {{ bugname }}  name="bugname" > 漏洞名称
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="checked" {{ bugid }} name="bugid"> 漏洞编号
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="checked" {{ bugplatform }} name="bugplatform"> 漏洞平台
                    </label>
                </div>
            </form>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>标题</th>
                <th>时间</th>
                <th>平台</th>
            </tr>
            </thead>
            <tbody>
            {% for item in buglist %}
                <tr class="active">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{item.bug_id}}</td>
                    <td><a href="{{ item.bug_url }}">{{item.bug_name}}</a></td>
                    <td>{{item.bug_time}}</td>
                    <td>{{item.bug_platform}}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {% if buglist.has_other_pages %}
            <ul class="pagination">

                {% if buglist.has_previous %}
                    <li><a href="?page={{ buglist.previous_page_number }}&search={{ search }}&bugname={{ bugname }}&bugid={{ bugid }}&bugplatform={{ bugplatform }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in buglist.paginator.page_range_ext %}
                    {% if buglist.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}&search={{ search }}&bugname={{ bugname }}&bugid={{ bugid }}&bugplatform={{ bugplatform }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if buglist.has_next %}
                    <li><a href="?page={{ buglist.next_page_number }}&search={{ search }}&bugname={{ bugname }}&bugid={{ bugid }}&bugplatform={{ bugplatform }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
{% endblock %}