{% extends "base.html" %}
{% block public_list %}
    <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin"
            src="/visual/issues/bug360"
            marginwidth="0" marginheight="0" style="height:500px; width: 49%;" scrolling="auto">
    </iframe>
    <iframe sandbox="allow-popups allow-scripts allow-forms allow-same-origin"
            src="/visual/issues/oday_issue"
            marginwidth="0" marginheight="0" style="height:500px; width: 49%;" scrolling="auto">
    </iframe>

{% endblock %}